<p id="notice"><%= notice %></p>

<h1>Bugs</h1>

<table>
  <thead>
    <tr>
      <th>Application token</th>
      <th>Number</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Comment</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.application_token %></td>
        <td><%= bug.number %></td>
        <td><%= bug.status %></td>
        <td><%= bug.priority %></td>
        <td><%= bug.comment %></td>
        <td><%= bug.state.id %></td>
        <td><%= link_to 'Show', bug %></td>
        <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
        <td><%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug', new_bug_path %>
